In [1]:
import pandas as pd
import numpy as np

In [56]:
#load data from data files and place into panda dataframes
temp = pd.read_csv('data/customer_orders.csv', low_memory=False)
temp2 = pd.read_csv('data/item_ingredients.csv', low_memory=False)

temp.head(10)
#temp2.head(10)

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup
5,14,True,2005-12-23,male,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
6,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,31.0,no mayonnaise
7,14,True,2005-12-23,male,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,49.0,no onions
8,12,True,2003-03-22,other,7,rainy,2020-01-28 06:30:59,640405348,Coffee,Fresh coffee made daily.,NaN,2.00,bitter,beverage,NaN,NaN
9,13,True,1993-11-19,female,27,rainy,2020-07-20 21:12:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,NaN,NaN

In [60]:
#turn off panda max column display limit
print(pd.options.display.max_columns)
pd.options.display.max_columns = None
def dropCol(dataFrame, colName):
    dataFrame= dataFrame.drop(colName, axis=1)
#temp = temp.drop('gender', axis=1)

None

In [7]:
#convert the boolean values into integers in the ingredients dataframe
#also print column names of dataframe
for col in temp2.columns:
    print(col)
    temp2[col] = temp2[col].astype(int)

<class 'numpy.bool_'>
item_id
has_ketchup
has_mustard
has_mayonnaise
has_lettuce
has_pickles
has_onions
has_tomatoes
has_cheese
has_beef
has_bun
has_salt
has_potatoes
has_coffee
has_milk
has_sugar
has_soda
has_wheat
has_ice_cream
has_bacon

In [8]:
#print the binary version of the item-ingredient dataframe
temp2.head()

,item_id,has_ketchup,has_mustard,has_mayonnaise,has_lettuce,has_pickles,has_onions,has_tomatoes,has_cheese,has_beef,has_bun,has_salt,has_potatoes,has_coffee,has_milk,has_sugar,has_soda,has_wheat,has_ice_cream,has_bacon
0,640405339,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
1,640405380,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,640405058,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,640405172,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
4,640405296,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0

In [28]:
temp["order_timestamp"]=pd.to_datetime(temp["order_timestamp"])
temp.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup

In [26]:
type(temp3["order_timestamp"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
#split timestamp in "order_timestamp" into a number of individual columns for each part of the timestamp
temp["order_date"]=temp["order_timestamp"].dt.date
temp["order_year"]=temp["order_timestamp"].dt.year
temp["order_month"]=temp["order_timestamp"].dt.month
temp["order_day"]=temp["order_timestamp"].dt.day

temp["order_hour"]=temp["order_timestamp"].dt.hour
temp["order_minute"]=temp["order_timestamp"].dt.minute
temp["order_second"]=temp["order_timestamp"].dt.second

In [39]:
temp.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization,order_date,order_hour,order_minute,order_second,order_year,order_month,order_day
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles,2019-10-16,4,11,47,2019,10,16
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise,2016-05-01,23,35,57,2016,5,1
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup,2017-07-04,12,53,59,2017,7,4
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes,2017-07-04,12,53,59,2017,7,4
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup,2019-10-16,4,11,47,2019,10,16

In [45]:
#TODO - drop columns that are optional and come in with opt-ins
#opt_in, birthday, gender(anything else?)
#customization, customization_id
#item_image, 

#? unsure ----> item_name, item_description
#Think need more item related features, 

#function converts a cyclical data point(like time) into a 2 point representation on a circle 
def cycleEmbed(maximum, reading):
    maxi=maximum

    sin = np.sin(2*np.pi*reading/maxi)
    cos = np.cos(2*np.pi*reading/maxi)
    return (sin, cos)

for i in range(23):
    print(cycleEmbed(20, i))

(0.0, 1.0)
(0.3090169943749474, 0.9510565162951535)
(0.5877852522924731, 0.8090169943749475)
(0.8090169943749475, 0.5877852522924731)
(0.9510565162951535, 0.30901699437494745)
(1.0, 6.123233995736766e-17)
(0.9510565162951536, -0.30901699437494734)
(0.8090169943749475, -0.587785252292473)
(0.5877852522924732, -0.8090169943749473)
(0.3090169943749475, -0.9510565162951535)
(1.2246467991473532e-16, -1.0)
(-0.3090169943749469, -0.9510565162951538)
(-0.587785252292473, -0.8090169943749475)
(-0.8090169943749473, -0.5877852522924732)
(-0.9510565162951535, -0.30901699437494756)
(-1.0, -1.8369701987210297e-16)
(-0.9510565162951536, 0.30901699437494723)
(-0.8090169943749476, 0.5877852522924729)
(-0.5877852522924734, 0.8090169943749473)
(-0.3090169943749477, 0.9510565162951535)
(-2.4492935982947064e-16, 1.0)
(0.3090169943749472, 0.9510565162951536)
(0.5877852522924722, 0.8090169943749481)

In [57]:
#function takes a column name, dataframe, and then converts the column in the dataframe into a integers, 
#where each integer represents a unique value from that column
def enumerateCol(colName, dataFrame):
    count=0
    diction={}

    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        if currentVal in diction:
            dataFrame.at[i, colName] = diction[currentVal]
        else:
            diction[currentVal]=count
            count+=1
            dataFrame.at[i, colName] = diction[currentVal]
            
        
        
enumerateCol("gender", temp)

In [63]:
#dropCol(temp, "item_image")
temp = temp.drop("item_image", axis=1)

temp.head(15)

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,0,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,0,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,0,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,29.0,no ketchup
5,14,True,2005-12-23,0,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,47.0,no lettuce
6,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,31.0,no mayonnaise
7,14,True,2005-12-23,0,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,49.0,no onions
8,12,True,2003-03-22,1,7,rainy,2020-01-28 06:30:59,640405348,Coffee,Fresh coffee made daily.,2.00,bitter,beverage,NaN,NaN
9,13,True,1993-11-19,2,27,rainy,2020-07-20 21:12:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,NaN,NaN
10,5,True,1992-04-24,1,3,cloudy,2016-01-22 07:01:31,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,2.99,savory,burger,NaN,NaN
11,10,True,1990-12-18,0,19,rainy,2018-09-25 00:57:21,640405355,Small Drink,NaN,1.59,chilling,beverage,NaN,NaN
12,5,True,1992-04-24,1,24,sunny,2017-03-26 06:58:44,640405389,Small Shake,NaN,2.09,sweet,beverage,NaN,NaN
13,5,True,1992-04-24,1,10,snowy,2015-03-08 00:49:21,640405348,Coffee,Fresh coffee made daily.,2.00,bitter,beverage,NaN,NaN
14,4,True,2002-07-19,0,23,rainy,2018-06-14 05:35:20,640405315,Large Fries,Our french fries are made to order onsite from...,2.09,savory,side,NaN,NaN